.friend-list-div > .friend-div a .friend-info,
.friend-list-div > .friend-div a .friend-name {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

.friend-list-div {
    overflow: auto;
    padding: 10px 10px 0;
    text-align: center;
}
.friend-list-div > .friend-div {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 15px 7px;
    width: calc(100% / 3 - 15px);
    height: 90px;
    border-radius: 8px;
    line-height: 17px;
    /* background: rgba(202, 202, 202, 0.15); */
    background: var(--code-bg);
    -webkit-transform: translateZ(0)
}

@media screen and (max-width: 1100px) {
    .friend-list-div > .friend-div {
        width: calc(50% - 15px) !important
    }

    @media screen and (max-width: 600px) {
        .friend-list-div > .friend-div {
            width: calc(100% - 15px) !important
        }
    }
}

.friend-list-div > .friend-div:hover {
    background: rgba(142, 142, 142, 0.15);
}

.friend-list-div > .friend-div:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: var(--text-bg-hover);
    content: '';
    -webkit-transition: -webkit-transform .3s ease-out;
    -moz-transition: -moz-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    -ms-transition: -ms-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0)
}
.friend-list-div > .friend-div:hover:before,
.friend-list-div > .friend-div:focus:before,
.friend-list-div > .friend-div:active:before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
.friend-list-div > .friend-div a {
    color: var(--font-color);
    text-decoration: none
}

.friend-list-div > .friend-div a img{
    float: left;
    margin: 15px 10px;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    transition: all .3s;
}

.friend-list-div > .friend-div a .friend-name {
    display: block;
    padding: 16px 10px 0 0;
    height: 40px;
    font-weight: 700;
    font-size: 20px
}

.friend-list-div > .friend-div a .friend-info {
    display: block;
    padding: 1px 10px 1px 0;
    height: 50px;
    font-size: 13px;
    color: var(--secondary);
}
